@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

.App {
  font-family: "Red Hat Text", sans-serif;
  display: flex;
  padding: 50px;
  background-color: hsl(13, 31%, 94%);
  align-items: flex-start; /* Evita que los elementos se estiren en el alto */

}

/* Products grid */
.products-container {
  flex-grow: 1;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 5px;
  /*grid-auto-rows: minmax(100px, auto);*/
}

/* Product */
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 250px;
  margin-bottom: 25px;
}

.product .product-image>img{
  width: 100%;
  border-radius: 15px;
}

.product-button {
  display: flex;
  width: 120px;
  height:20px;
  justify-content: center;
  background-color: white;
  border: 1px solid hsl(14, 86%, 42%);
  padding:10px;
  border-radius: 40px;
  margin-top: -25px;
  user-select: none;
}

.add-first-button {
  display: flex;
  align-items: center; /* Alinea el texto y el icono verticalmente */
  gap: 8px; /* Espacio entre el icono y el texto, ajusta según prefieras */
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.add-first-button:hover {
  color: hsl(14, 86%, 42%);
}

.product-button.edit-count-button {
  display: flex;
  justify-content: space-between;
  background-color: hsl(14, 86%, 42%);
  color: white;
}

.add-product-button, .remove-product-button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid white;
  text-align: center;
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
}

.add-product-button:hover, .remove-product-button:hover {
  background-color: white;
}

.add-product-button:hover>svg>path, .remove-product-button:hover>svg>path {
  fill: hsl(14, 86%, 42%);
}


.product-info {
  width: 100%;
  padding-top: 10px;
}


/* Cart */
.cart {
  width: 400px;
  margin-left: 30px;
  background-color: hsl(20, 50%, 98%);
  min-height: 270px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  box-sizing: border-box;
  border-radius: 10px;

}

.cart h2 {
  color: hsl(14, 86%, 42%);
}

.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.cart-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.delete-product {
  cursor: pointer;
  border: 1px solid hsl(7, 20%, 60%);
  width: 17px;
  height: 17px;
  padding: 3px;
  box-sizing: border-box;
  border-radius: 50px;
  display: flex;
}

.product-info .product-category {
  color: hsl(7, 20%, 60%);
}

.product-info .product-name {
  font-weight: 500;
  margin: 2px;
}

.product-info .product-price {
  color: hsl(14, 86%, 42%);
  font-weight: 500;
  font-size: 1.2em;;
}

.cart-element {
  font-size: 0.95em;
}

.cart-element .product-name {
  font-weight: 500;
  margin-bottom: 2px;
}

.cart-element .product-quantity {
  color: hsl(14, 86%, 42%);
  font-weight: bold;
  margin-right: 5px;
}

.cart-element .product-individual-price {
  color: hsl(12, 20%, 44%);
  margin-right: 5px;
}


.cart-element .product-subtotal {
  color: hsl(12, 20%, 44%);
  font-weight: bold;
  margin-right: 5px;
}


.order-total {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.order-total-value {
  font-size: 1.5em;
  font-weight: bold;
}


.carbon-neutral-text {
  font-size: 0.95em;
  margin: 5px;
  background-color: hsl(13, 31%, 94%);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.confirm-order-button {
  display: flex;
  justify-content: center;
  background-color: hsl(14, 86%, 42%);
  color: white;
  padding:10px;
  border-radius: 40px;
  user-select: none;
  cursor: pointer;
  margin-top: 20px;
}

.confirm-order-button:hover {
  background-color: hsl(14, 87%, 31%);
}


/* Summary: order confirmed */
.modal {
  position: fixed;
  top: 40%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  background: white;
  width: 450px;
  max-height: 600px;
  padding: 30px;
  background-color: hsl(20, 50%, 98%);
  border-radius: 10px;
  overflow-y: auto;
}



.summary-element {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(233, 233, 233);
  margin-top: 10px;
  margin-bottom: 10px;
}

.summary-element .product-image {
  margin-right: 15px;
  display: flex;        /* Aplica flexbox */
  justify-content: center; /* Centra horizontalmente la imagen */
  align-items: center;    /* Centra verticalmente la imagen */
}

.summary-element .product-image img {
  width: 50px;
  height: 50px;
}


.summary-element .details {
  flex: 1; /* Esto hace que el contenedor de los detalles ocupe el espacio disponible */
}

.summary-element .product-name {
  font-weight: 500;
  margin-bottom: 2px;
  margin-top: 0;
}

.summary-element .product-quantity {
  color: hsl(14, 86%, 42%);
  font-weight: bold;
  margin-right: 5px;
}

.summary-element .product-individual-price {
  color: hsl(12, 20%, 44%);
  margin-right: 5px;
}

.summary-element .product-subtotal {
  color: hsl(12, 20%, 44%);
  font-weight: bold;
  margin-right: 5px;
}

.summary-products {
  background-color: hsl(13, 31%, 94%);
  padding: 10px;
}

.modal .order-total-label {
  font-size: 0.9em;
}

.modal h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.modal .title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon-order-confirmed {
  width: 40px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
  z-index: 9999; /* Asegura que el modal esté encima de otros elementos */
}

/* Media queries */

@media (max-width: 768px) {
  .App {
    flex-direction: column; /* Los elementos se alinean uno debajo de otro */
    padding: 30px;
  }

  .cart {
    width: 100%;
    margin-left: 0;
  }

  .modal {
    position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%); 
        background: white;
        width: 90%;
        max-width: 450px;
        height: auto;
        max-height: 70%; 
        overflow-y: auto; 
        padding: 20px;
        background-color: hsl(20, 50%, 98%);
        border-radius: 10px 10px 0 0; 
        overflow-y: auto;
  }
}

